<h3>シフト</h3>
        <%= form_with model: @shift do |f| %>
        <table border="1">
            <tr>
                <th>名前:<%= f.collection_select :name, @workers, :name, :name %></th>
                <% day = 1 %>
                <% while day <= 10 %>
                    <th><%= day %>日</th>
                    <% day += 1 %>
                <% end %>
            </tr>
            <tr>
                <td>休日<%= f.number_field :holiday, max: 10 %></td>
                <td><%= f.collection_select :day1, @patterns, :id, :name %></td>
                <td><%= f.collection_select :day2, @patterns, :id, :name %></td>
                <td><%= f.collection_select :day3, @patterns, :id, :name %></td>
                <td><%= f.collection_select :day4, @patterns, :id, :name %></td>
                <td><%= f.collection_select :day5, @patterns, :id, :name %></td>
                <td><%= f.collection_select :day6, @patterns, :id, :name %></td>
                <td><%= f.collection_select :day7, @patterns, :id, :name %></td>
                <td><%= f.collection_select :day8, @patterns, :id, :name %></td>
                <td><%= f.collection_select :day9, @patterns, :id, :name %></td>
                <td><%= f.collection_select :day10, @patterns, :id, :name %></td>
            </tr>
            <tr>
                <td><%= f.submit "保存" %></td>
            </tr>
        </tbale>
        <% end %>
        <%= link_to "戻る", :back %>